@charset "utf-8";

*:focus{
    outline: none !important;
}
*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}
.banner-img{
    width: 100%;
    height: 675px;
    background-image: url('../pics/low_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}